---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = Object.values(import.meta.glob('./posts/*.md', {eager: true}))
const pageTitle = "私のAstroブログ";
---

<BaseLayout pageTitle={pageTitle}>
	
	<p>Astroのチュートリアルを進めています。これは私のウェブサイトの3ページ目です。</p>

	<p>このページはチュートリアルを進めていくにつれて更新されていきます。</p>

	<ul>
		{allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
	</ul>
</BaseLayout>
